
html, body {
    padding: 0;
    margin: 0;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
}

#right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.ast-box {
    border: 1px solid black;
    font-family: sans-serif;
    padding: 4px;
}

.head {
    font-weight: bold;
}

.ast-box .ast-box {
    margin-top: 4px;
}