
html, body {
    padding: 0;
    margin: 0;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
}

#right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
